front-end/estacionamento_dinamico.json
[{"id":"e16f1c6bd6dea31c","type":"tab","label":"Estacionamento Dinâmico","disabled":false,"info":"","env":[]},{"id":"6dc0d4126a381cda","type":"http in","z":"e16f1c6bd6dea31c","name":"","url":"/vagas","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":170,"y":200,"wires":[["4e249a642a4c3219"]]},{"id":"0596253e9a0f91df","type":"http response","z":"e16f1c6bd6dea31c","name":"","statusCode":"","headers":{},"x":690,"y":460,"wires":[]},{"id":"06be396bfcabf8ac","type":"debug","z":"e16f1c6bd6dea31c","name":"Debug Entradas","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":60,"wires":[]},{"id":"4e249a642a4c3219","type":"function","z":"e16f1c6bd6dea31c","name":"Salvar Dados","func":"flow.set(\"estadoVagas\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["06be396bfcabf8ac","0596253e9a0f91df","f8a91a745f304461","c247ca22b284ca71"]]},{"id":"89513a304de8adb7","type":"http in","z":"e16f1c6bd6dea31c","name":"","url":"/status-vagas","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":190,"y":560,"wires":[["08757430d1350c62"]]},{"id":"08757430d1350c62","type":"function","z":"e16f1c6bd6dea31c","name":"Estado Atual das Vagas","func":"msg.payload = flow.get(\"estadoVagas\") || { info: \"Nenhum dado ainda recebido\" };\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":560,"wires":[["41f3355e9da8c781"]]},{"id":"41f3355e9da8c781","type":"http response","z":"e16f1c6bd6dea31c","name":"","statusCode":"","headers":{},"x":690,"y":560,"wires":[]},{"id":"f8a91a745f304461","type":"function","z":"e16f1c6bd6dea31c","name":"Calc. Estatísticas","func":"const vagas = msg.payload || {};\nconst keys = Object.keys(vagas);\nconst livres = keys.filter(k => (vagas[k]||'').toLowerCase() === 'livre');\nconst ocupadas = keys.length - livres.length;\nconst percOcup = keys.length ? Math.round(100 * ocupadas / keys.length) : 0;\n\nreturn [\n    { payload: percOcup, topic: 'Ocupação (%)' },\n    { payload: `Livres: ${livres.length} · Ocupadas: ${ocupadas}` },\n    { payload: livres }\n];","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":340,"wires":[["95d6727fb8288d1a"],["073b40a7a4e916c5"],["89867701a73e816b"]]},{"id":"95d6727fb8288d1a","type":"ui_gauge","z":"e16f1c6bd6dea31c","name":"Ocupação","group":"grp_grid","order":3,"width":"6","height":"4","gtype":"gage","title":"Ocupação do Estacionamento","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"80","diff":false,"className":"","x":1010,"y":340,"wires":[]},{"id":"073b40a7a4e916c5","type":"ui_text","z":"e16f1c6bd6dea31c","group":"grp_grid","order":4,"width":"6","height":"1","name":"Resumo","label":"Resumo","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":400,"wires":[]},{"id":"89867701a73e816b","type":"ui_template","z":"e16f1c6bd6dea31c","group":"grp_grid","name":"Vagas Livres","order":5,"width":"12","height":"2","format":"<div>\n    <span class=\"chip\" ng-repeat=\"v in msg.payload\">{{v | uppercase}}</span>\n    <span ng-if=\"!msg.payload.length\">Nenhuma vaga livre no momento</span>\n</div>\n<style>\n    .chip {\n        display: inline-block;\n        background: #2ecc71;\n        color: #fff;\n        padding: 6px 10px;\n        border-radius: 999px;\n        margin: 4px 6px;\n        font-weight: 600\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1010,"y":460,"wires":[[]]},{"id":"c247ca22b284ca71","type":"ui_template","z":"e16f1c6bd6dea31c","group":"grp_grid","name":"Painel Dinâmico de Vagas","order":0,"width":"0","height":"0","format":"<div class=\"vaga-container\">\n    <div class=\"spot-card\" ng-repeat=\"(vaga, status) in msg.payload\"\n        ng-class=\"{'livre': status==='livre', 'ocupada': status==='ocupada'}\">\n        <div class=\"spot-title\">{{vaga | uppercase}}</div>\n        <div class=\"spot-state\">{{status | uppercase}}</div>\n    </div>\n</div>\n\n<style>\n    .vaga-container {\n        display: flex;\n        flex-wrap: wrap;\n        justify-content: flex-start;\n    }\n\n    .spot-card {\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n        border-radius: 16px;\n        padding: 14px;\n        margin: 8px;\n        width: 150px;\n        height: 120px;\n        box-shadow: 0 6px 18px rgba(0, 0, 0, .12);\n        color: #fff;\n        transition: .2s;\n        text-align: center;\n    }\n\n    .spot-title {\n        font-size: 16px;\n        opacity: .9;\n        margin-bottom: 6px;\n    }\n\n    .spot-state {\n        font-size: 22px;\n        font-weight: 700;\n        letter-spacing: .5px;\n    }\n\n    .spot-card.livre {\n        background: #2ecc71;\n    }\n\n    .spot-card.ocupada {\n        background: #e74c3c;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1050,"y":200,"wires":[[]]},{"id":"grp_grid","type":"ui_group","name":"Vagas","tab":"f1tab","order":2,"disp":true,"width":"12","collapse":false},{"id":"f1tab","type":"ui_tab","name":"Estacionamento","icon":"dashboard","disabled":false,"hidden":false},{"id":"091391c85ccc87fe","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]